{% extends "templates/index.html" %}
{% block site %}Modify{% endblock %}
{% block contenido %}
    {% if tarea %}
        <div class="row">
            <div class="col col-md-12">
                <form role="form" method="post" action="/edit_tarea">
                    <fieldset>
                        <legend>Agregar tarea:</legend>
                        <div class="form-group">
                            <label for="titulo">Título:</label>
                            <input name="titulo" type="text" class="form-control" id="titulo" value="{{ tarea.titulo}}">
                        </div>
                        <div class="form-group">
                            <label for="descripcion">Descripcion:</label>
                            <textarea name="descripcion" class="form-control" id="descripcion">{{ tarea.descripcion }}</textarea>
                            <label for="fecha">Fecha entrega:</label>
                            <input value="{{ tarea.fecha_entrega }}" name="fecha" class="form-control" type="datetime-local" id="fecha">
                            <label for="color">Color: </label>
                            <input id="color" name="color" type="color" class="form-control">
                        </div>
                        <input name="id" type="hidden" value="{{ tarea.key.urlsafe() }}">
                        <div class="btn-group" role="group" style="float: right">
                            <a  href="/" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-triangle-left"></span></a>
                            <button type="submit" class="btn btn-lg btn-success" style="float: right"><span class="glyphicon glyphicon-pencil"></span></button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    {% else %}
        <h3>Oooops!, parece que tenemos un problema</h3>
    {% endif%}
{% endblock %}